.orb-container {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.orb-container {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.orb-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.orb-children {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; /* evita bloquear interacciones si no es necesario */
}
